
__pycache__/
**/__pycache__/

.venv/
venv/
env/
.env
.env.*

.pytest_cache/
.cache/


build/

.vscode/
.vs/

files/**/*.bin
files/**/*.binary
files/**/*.hex

assemblerV2_python/examples/*.hex
assemblerV2_python/examples/*.bin
assemblerV2_python/examples/*.binary
assembler/**/__pycache__/
assemblerV2_python/**/__pycache__/
emulator/**/__pycache__/
emulator_ui/**/__pycache__/
